<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">	
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	


	<title>Scrape The News</title>
	</head>
	<body>
		<section id="banner" class="z-depth-1">
		  <div class="container">
		    <div class="row" id=title-row>
		    <br><br><br><br><br>
		      <h1 class="center-align"> Plan Your Next Vacation</h1>
		    </div>
		  
		  </div>
	  	</section>
	  
	  <nav>
	    <div class="nav-wrapper  teal">
	    	<a class="brand-logo right"><i class="material-icons">all_inclusive</i></a>
	    	<ul id="nav-mobile" class="left hide-on-med-and-down">
	    		<li><a  href="/" >Home</a></li>
	      		<li><a  href="/scrape">Scrape Destinations</a></li>
	     		<li><a  href="/saved">Saved Destinations</a></li>
	      		<li><a  href="/api/delete/scrape">Clear Scraped Data</a></li>
	  		</ul>
	  	</div>
	  </nav>
	  <br><br>
		{{{ body }}}




		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		<script>
      		$(document).ready(function(){
    			$('.modal').modal();

 
  			});


      	</script>
        
	</body>
</html>

